@charset "utf-8";

/* 공통 */
body{
    letter-spacing: -0.3px;
    font-family: 'Noto Sans KR', sans-serif;
}
.inner{
    max-width: 1300px; 
    margin: 0 auto;
}


/* topInfo */
.topInfo{
    border-bottom: 1px solid #e3e3e3;
}
.topInfo > .inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    line-height: 40px;
}
.rightBtn > ul{
    display: flex;
    flex-direction: row;
}
.bookMark,
.rightBtn > ul > li{
    font-size: 14px;
    color: #736f65;
    font-weight: 400;
}
.bookMark{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom: none;
    padding: 0 15px;
}
.bookMark > a:first-child{
    padding-left: 5px;
    padding-right: 5px;
}
.bookMark > a.mark{
    display: block;
}
.rightBtn > ul > li{
    letter-spacing: -0.6px;
    position: relative;
}
.rightBtn > ul > li{
    padding-right: 13px;
    margin-left: 13px;
}
.rightBtn > ul > li:not(:last-child)::after{
    content: '';
    position: absolute;
    right: 0;
    top: 13px;
    width: 1px;
    height: 13px;
    background: #c1c1c1;
}
.login > a{
    color: #a71c15;
}
.join::after{
    display: none;
}
.member{
    background: #263a67;
    width: 110px;
    text-align: center;
}
.member > a{
    margin-left: 13px;
}
.member > a > span{
    color: #fff;
    background-image: url(../img/setting.png);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: center left;
}


/* header */
.logoWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0 36px 0;
}
.telInfo,
.tel,
.tel.no1 .tit,
.tel.no2 .tit{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tel.no1{
    margin-right: 50px;
}
.tel.no1 .tit{
    font-size: 15px;
    font-weight: 500;
    padding-right: 13px;
    color: #8f5d14;
}
.tel.no1 .tit > img{
    margin-right: 6px;
}
.tel.no1 .num{
    font-size: 21px;
    font-weight: 500;
    color: #f9b000;
}
.tel.no2 .tit{
    font-size: 15px;
    font-weight: 500;
    padding-right: 13px;
    color: #652f10;
}
.tel.no2 .tit > img{
    margin-right: 6px;
}
.tel.no2 .num{
    font-size: 21px;
    font-weight: 500;
    color: #e4631f;
}


/* nav */
.gnb{
    background: #263a67;
    color: #fff;
    position: relative;
    z-index: 999;
}
.gnb > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
}
.gnb > ul > li{
    width: 260px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.subGnb{
    display: none;
    opacity: 0.8;
}
.subGnb > li{
    width: 100%;
    background: #263a67;
    font-size: 15px;
    z-index: 999;
}
.subGnb > li > a:hover{
    font-weight: 500;
    color: #f9b626;
}
.nav5{
    width: 303px;
    background: #0071bf;
}
.nav5 > a{
    position: relative;
}
.nav5 > a > span::after{
    content: '';
    position: absolute;
    left: -13px;
    top: 0;
    width: 24px;
    height: 11px;
    background: url(../img/fish.png) no-repeat;
}


/* main */
.mainSlide > ul > li > a > img{
    max-width: 100%;
}
.mainIconList{
    border-bottom: 1px solid #cbcbcb;
    padding: 35px 0 30px 0;
}
.mainIconList > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mainIconList > ul > li{
    width: 152px;
    text-align: center;
}
.mainIconList > ul > li > a{
    width: 152px;
    height: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    font-weight: 500;
}
.mainIconList > ul > li:not(:last-child){
    border-right: 1px solid #e9e9e9;
}
.mainIconList > ul > li > a > img{
    margin-bottom: 20px;
}
.mainIconList > ul > li > a > span{
    display: block;
    width: 100%;
    margin-top: auto;
}


/* productWrap */
.productWrap{
    background: #f0f0f0;
    padding: 59px 0;
}
.productWrap > .inner,
.productList{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.productList > a{
    border: 1px solid #cfcfcf;
    margin-right: 24px;
}
.productBanner{
    position: relative;
    z-index: 0;
}
.productBanner > a::after{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: #ffc20e;
    border-radius: 50%;
    z-index: 10;
}


/* eventWrap */
.eventWrap{
    padding: 60px 0;
}
.eventNoticeWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.eventBox{
    margin-right: 50px;
}
.eventTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    color: #222;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 28px;
}
.eventBtn{
    width: 18px;
    height: 18px;
    background: #0072bc;
    border-radius: 50%;
    z-index: 10;
}


/* noticeWrap */
.noticeTitle{
    width: 622px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}
.noticeBox{
    position: relative;
}
.noticeBox > a:first-child{
    font-size: 28px;
    line-height: 28px;
    color: #222;
    margin-right: 20px;
    padding-right: 20px;
}
.noticeBox > a:first-child::after{
    content: '';
    position: absolute;
    top: 6px;
    left: 123px;
    width: 1px;
    height: 23px;
    background: #c5c5c5;
}
.noticeBox > a:last-child{
    font-size: 24px;
    line-height: 24px;
    padding-top: 2px;
    color: #999999;
    font-weight: 500;
}
.noticeBox,
.noticeMore > a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.noticeMore{
    height: 30px;
    line-height: 30px;
    border: 1px solid #cfcfcf;
    font-size: 15px;
    color: #222222;
    padding: 0 16px;
}
.noticeMore > a > span{
    padding-right: 20px;
}
.noticeList > ul > li > a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    font-weight: 300;
}
.noticeList > ul > li:not(:last-child){
    margin-bottom: 17px;
}
.noticeList > .tit{
    width: 530px;
}
.noticeList > .date{
    float: right;
    color: #999999;
}
.mainsBannerList{
    padding-top: 60px;
    margin-top: 60px;
    border-top: 1px solid #e5e5e5;
}
.mainsBannerList > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
}



/* footer */
footer{
    background: #263a67;
    color: #fff;
    position: relative;
}
.footerInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0 40px 0;
}
.footList{
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #516185;
}
.footList > ul{
    display: flex;
    flex-direction: row;
}
.footList > ul > li{
    font-size: 15px;
    line-height: 15px;
    color: #999999;
    position: relative;
}
.footList > ul > li.bold{
    color: #fffbaa;
}
.footList > ul > li:not(:last-child){
    margin-right: 13px;
    padding-right: 13px;
}
.footList > ul > li > a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 14px;
    background: #fff;
}
.footList > ul > li:last-child > a::after{
    display: none;
}
.leftInfo > .info{
    font-size: 14px;
    line-height: 25px;
    font-size: 300;
    color: #999999;
}
.leftInfo > .info > .person{
    color: #c5c5c5;
    width: 115px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border: 1px solid #48587c;
    background: #1e2e52;
}
.centerInfo{
    margin-left: 75px;
    width: 465px;
}
.centerInfo > .tit{
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #516185;
}
.centerInfo > .tit > span{
    font-size: 14px;
    color: #e3e3e3;
}
.telInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 14px;
}
.telInfo > .tit{
    font-size: 17px;
}
.telInfo > .text{
    margin-left: 30px;
    font-size: 17px;
    color: #cfcfcf;
}
.timeInfo > span{
    display: block;
    height: 42px;
    line-height: 42px;
    background: #1e2e52;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    padding: 2px 20px;
}
.rightInfo{
    margin-left: 75px;
    border: 1px solid #48587c;
    width: 273px;
    padding: 34px 0 0 29px;
}
.rightInfo > .num{
    margin-bottom: 14px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 500;
    color: #fffbaa;
    margin-top: 24px;
}
.rightInfo > .txt{
    font-size: 15px;
    color: #bdbdbd;
    line-height: 15px;
    margin-top: 14px;
}
footer > .copy{
    padding: 40px 0;
    background: #0e1f4a;
    color: #999999;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
}
.btnTop{
    position: absolute;
    top: -30px;
    right: 60px;
}