@charset "utf-8";

/* 공통 */
body{
    letter-spacing: -0.3px;
    font-family: 'Noto Sans KR', sans-serif;
}
.inner{
    max-width: 1300px; 
    margin: 0 auto;
}


/* header */
.topInfo{
    border-bottom: 1px solid #e3e3e3;
}
.topInfo > .inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    line-height: 40px;
}
.rightBtn > ul{
    display: flex;
    flex-direction: row;
}
.bookMark,
.rightBtn > ul > li{
    font-size: 14px;
    color: #736f65;
    font-weight: 400;
}
.bookMark{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom: none;
    padding: 0 15px;
}
.bookMark > a:first-child{
    padding-left: 5px;
    padding-right: 5px;
}
.bookMark > a.mark{
    display: block;
}
.rightBtn > ul > li{
    letter-spacing: -0.6px;
    position: relative;
}
.rightBtn > ul > li{
    padding-right: 13px;
    margin-left: 13px;
}
.rightBtn > ul > li:not(:last-child)::after{
    content: '';
    position: absolute;
    right: 0;
    top: 13px;
    width: 1px;
    height: 13px;
    background: #c1c1c1;
}
.login > a{
    color: #a71c15;
}
.join::after{
    display: none;
}
.member{
    background: #263a67;
    width: 110px;
    text-align: center;
}
.member > a{
    margin-left: 13px;
}
.member > a > span{
    color: #fff;
    background-image: url(../img/setting.png);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: center left;
}












@media screen and (min-width:340px) and (max-width:500px){
    
}