@charset "utf-8";

/* 공통 */
body{
    letter-spacing: -0.3px;
    font-family: 'Noto Sans KR', sans-serif;
}
.inner{
    max-width: 1300px; 
    margin: 0 auto;
}


/* topInfo */
.topInfo{
    border-bottom: 1px solid #e3e3e3;
}
.topInfo > .inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    line-height: 40px;
}
.rightBtn > ul{
    display: flex;
    flex-direction: row;
}
.bookMark,
.rightBtn > ul > li{
    font-size: 14px;
    color: #736f65;
    font-weight: 400;
}
.bookMark{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom: none;
    padding: 0 15px;
}
.bookMark > a:first-child{
    padding-left: 5px;
    padding-right: 5px;
}
.bookMark > a.mark{
    display: block;
}
.rightBtn > ul > li{
    letter-spacing: -0.6px;
    position: relative;
}
.rightBtn > ul > li{
    padding-right: 13px;
    margin-left: 13px;
}
.rightBtn > ul > li:not(:last-child)::after{
    content: '';
    position: absolute;
    right: 0;
    top: 13px;
    width: 1px;
    height: 13px;
    background: #c1c1c1;
}
.login > a{
    color: #a71c15;
}
.join::after{
    display: none;
}
.member{
    background: #263a67;
    width: 110px;
    text-align: center;
}
.member > a{
    margin-left: 13px;
}
.member > a > span{
    color: #fff;
    background-image: url(../img/setting.png);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: center left;
}


/* header */
.logoWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0 36px 0;
}
.telInfo,
.tel,
.tel.no1 .tit,
.tel.no2 .tit{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tel.no1{
    margin-right: 50px;
}
.tel.no1 .tit{
    font-size: 15px;
    font-weight: 500;
    padding-right: 13px;
    color: #8f5d14;
}
.tel.no1 .tit > img{
    margin-right: 6px;
}
.tel.no1 .num{
    font-size: 21px;
    font-weight: 500;
    color: #f9b000;
}
.tel.no2 .tit{
    font-size: 15px;
    font-weight: 500;
    padding-right: 13px;
    color: #652f10;
}
.tel.no2 .tit > img{
    margin-right: 6px;
}
.tel.no2 .num{
    font-size: 21px;
    font-weight: 500;
    color: #e4631f;
}


/* nav */
.gnb{
    background: #263a67;
    color: #fff;
}
.gnb > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
}
.subGnb{
    display: none;
}
.gnb > ul > li{
    width: 260px;
    color: #fff;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.nav5{
    width: 303px;
    background: #0071bf;
}
.nav5 > a{
    position: relative;
}
.nav5 > a > span::after{
    content: '';
    position: absolute;
    left: -13px;
    top: 0;
    width: 24px;
    height: 11px;
    background: url(../img/fish.png) no-repeat;
}


/* main */
.mainSlide > ul > li > a > img{
    max-width: 100%;
}
.mainIconList{
    border-bottom: 1px solid #cbcbcb;
    padding: 35px 0 30px 0;
}
.mainIconList > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mainIconList > ul > li{
    width: 152px;
    text-align: center;
}
.mainIconList > ul > li > a{
    width: 152px;
    height: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    font-weight: 500;
}
.mainIconList > ul > li:not(:last-child){
    border-right: 1px solid #e9e9e9;
}
.mainIconList > ul > li > a > img{
    margin-bottom: 20px;
}
.mainIconList > ul > li > a > span{
    display: block;
    width: 100%;
    margin-top: auto;
}
























@media screen and (min-width:340px) and (max-width:500px){
    
}